<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Servicios</h3>
          <ul>
            <li><a href="#">Desarrollo de Software</a></li>
            <li><a href="#">Servicios Cloud</a></li>
            <li><a href="#">Ciberseguridad</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Acerca de</h3>
            <ul>
              <li><a href="#">Empresa</a></li>
              <li><a href="#">Equipo</a></li>
            </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>D4 Consultores</h3>
          <p>Servicios tecnológicos enfocados en brindar soluciones innovadoras para diferentes sectores.</p>
        </div>
        <div class="col item social">
          <a href="https://d4.com.mx/" target="_blank">
            <FaIcon @icon='google' @prefix="fab"/>
          </a>
          <a href="https://www.instagram.com/d4.consultores/" target="_blank">
            <FaIcon @icon='instagram' @prefix="fab"/>
          </a>
          <a href="https://www.linkedin.com/company/d4-consultores" target="_blank">
            <FaIcon @icon='linkedin' @prefix="fab"/>
          </a>
        </div>
      </div>
      <p class="copyright">© 2023, Desarrollo en Cuatro Consultores</p>
    </div>
  </footer>
</div>