<Navebar::hamburguesa />

<LinkTo @route="cart" >
    <FaIcon @icon='cart-shopping'/>
    {{#if this.shoppingCart.itemList.length}}
        <span class="d-inline-flex justify-content-center align-items-center">
            {{this.itemCount}}
        </span>
    {{/if}}
</LinkTo>

<main class="container mt-5">
    {{yield}}
</main>

<footer>
  <Footer::EndPage />
</footer>
