<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="top-nav">
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
      <li><LinkTo @route="login" >Login</LinkTo></li>
      <li>Opcion 2</li>
      <li>Opcion 3</li>
    </ul>
</section>