<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="top-nav">
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
      <li><LinkTo @route="index" >Home</LinkTo></li>
      <li>
        {{!-- {{#if this.session.isAuthenticated}}
          <a {{on "click" this.invalidateSession}}>Logout</a>
        {{else}} --}}
          <LinkTo @route="login" >Login</LinkTo>
        {{!-- {{/if}} --}}
      </li>
      <li>
        <a href="#">Contacto</a>
      </li>
    </ul>
</section>