<GeneralContainer>
    <Product::Image @src={{this.productImage}}/>
    <Product::Details @color={{this.color}} @onChangeColor={{this.onChangeColor}}/>
    <h5 class="mt-5">Características</h5>
    <ul>
        <li>MLB Major League Baseball</li>
        <li>Masculino</li>
        <li>7 1/2</li>
    </ul>
</GeneralContainer>
